<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="session" value="C:\Users\kanhaya.tyagi\Desktop\Session\Packages\" allowInsecureConnections="True" />

  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.Extensions.AI" />
      <package pattern="Microsoft.*" />
      <package pattern="katy.*" />
      <package pattern="Microsoft.Extensions.Hosting" />
      <package pattern="ModelContextProtocol" />
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="ModelContextProtocol.*" />
      <package pattern="Google.*" />
      <package pattern="OllamaSharp" />
      <package pattern="Microsoft.SemanticKernel.Core" />
      <package pattern="PdfPig" />
      <package pattern="System.Linq.Async" />
      <package pattern="Microsoft.SemanticKernel.Connectors.SqliteVec" />
      <package pattern="Microsoft.Extensions.Configuration.Abstractions" />
      <package pattern="StyleCop.Analyzers.Unstable" />
    </packageSource>

    <packageSource key="session">
      <package pattern="AI.Session.Mcp.Server.win-x64" />
    </packageSource>


  </packageSourceMapping>
</configuration>